name: CI Pipeline - Agile Testing Kata

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  api-tests:
    name: API Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Replace Tokens
        uses: cschleiden/replace-tokens@v1
        with:
          tokenPrefix: '__'
          tokenSuffix: '__'
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          USER_ADMIN: ${{ secrets.USER_ADMIN }}
          USER_PASS: ${{ secrets.USER_PASS }}

      - name: Run API Tests
        run: |
          cd Apis
          mvn clean test || true

      - name: Upload Karate Report
        uses: actions/upload-artifact@v4
        with:
          name: api-report
          path: Apis/target/karate-reports

  e2e:
    name: E2E UI Tests
    runs-on: ubuntu-latest
    needs: api-tests
    if: always()
    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Replace Tokens
        uses: cschleiden/replace-tokens@v1
        with:
          tokenPrefix: '__'
          tokenSuffix: '__'
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          USER_ADMIN: ${{ secrets.USER_ADMIN }}
          USER_PASS: ${{ secrets.USER_PASS }}

      - name: Run E2E Tests
        run: |
          cd E2E
          mvn clean verify || true

      - name: Upload Serenity Report
        uses: actions/upload-artifact@v4
        with:
          name: e2e-report
          path: E2E/target/site/serenity
                  if-no-files-found: warn

  performance:
    name: Performance Tests
    runs-on: ubuntu-latest
    needs: e2e
    if: always()
    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Run Performance Tests
        run: |
          cd Performance
          mvn clean verify || true

      - name: Upload Performance Report
        uses: actions/upload-artifact@v4
        with:
          name: performance-report
          path: Performance/target/jmeter
                  if-no-files-found: warn
